<!-- Begin Tickets 2 Section -->
<section id="salepoints" class="tickets-2">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.salePointsTitle }}</h3>
			<div class="tickets-table row animated hiding" data-animation="fadeInDown" data-delay="0">
			{% assign animationDelay = 0 %}
            {% for salePoint in site.salePoints %}
	            <div class="tickets-row animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
	            	<div class="row">
						<div class="col-sm-12 col-xs-12">
							<p class="title">{{ salePoint.name }}</p>
							{% if salePoint.additionalInfo != null %}
								<span class="ticket-additional-info">{{ salePoint.additionalInfo }}</span>
							{% endif %}
						</div>
						{% comment %}
						<div class="col-sm-3 col-xs-12">
							<p class="price">{{ salePoint.price }} {{ salePoint.priceCurrency }}</p>
						</div>
						<div class="col-sm-3 col-xs-12">
							{% if salePoint.soldOut == true %}
							<p class="ticket-sold-out">{{ salePoint.soldOutText }}</p>
							{% elsif salePoint.disabled != true %}
							<span class="bordered dark-border button">
								<a href="{{ salePoint.buyButtonLink }}" class="waves-effect waves-button" target="_blank">{{ salePoint.buyButtonText }}</a>
							</span>
							{% else %}
							{% if salePoint.venueOnly == true %}
								<p class="ticket-fallback">Vendas somente no evento</p>
							{% else %}
								{% assign ticketValidFrom = salePoint.validFrom | split: "T" %}
								<p class="ticket-fallback">As vendas começarão em {{ ticketValidFrom[0] | date: "%-d %B %Y"}} {{ ticketValidFrom[1] }}</p>
							{% endif %}
							{% endif %}
						</div>
						{% endcomment %}
					</div>
				</div>
			{% assign animationDelay = animationDelay | plus:100 %}
            {% endfor %}
            </div>
            <span class="tickets-info">{{ site.salePointsInfo }}</span>
		</div>
	</div>
</section>
<!-- End Tickets 2 Section -->